<section class="container">
  <div class="row" id="download">
    <article class="col-md">
      <h2>{{ i18n "live-images" }}</h2>
      <p>
        {{ i18n "live-images-text" }}
      </p>
      <a href="https://community.kde.org/Plasma/Live_Images" class="learn-more">
        {{ i18n "download-plasma" }}
      </a>
      <a href="https://community.kde.org/Plasma/Docker_Images" class="learn-more">
        {{ i18n "docker-plasma" }}
      </a>
    </article>
    <article class="col-md">
      <h2>{{ i18n "package-downloads" }}</h2>
      <p>
        {{ i18n "package-downloads-text" }}
      </p>
      <a href="https://community.kde.org/Plasma/Packages" class="learn-more"
        >{{ i18n "package-wiki" }}</a
      >
    </article>
    <article class="col-md">
      <h2>{{ i18n "source-download" }}</h2>
      <p>
        {{ i18n "source-download-text" }}
      </p>
      <a href="http://community.kde.org/Frameworks/Building"
        >{{ i18n "community-instructions" }}</a
      >
      <a href="/info/{{ $.Page.Params.release }}" class="learn-more"
        >{{ i18n "source-info-page" }}</a
      >
    </article>
  </div>
</section>

<section class="give-feedback">
  <h2>{{ i18n "feedback" }}</h2>
  <p class="kSocialLinks">
    {{ i18n "give-feedback" }}
    <a class="shareFacebook" href="https://www.facebook.com/kde/" rel="nofollow">{{ i18n "post-facebook" }}</a>
    <a class="shareTwitter" href="https://twitter.com/kdecommunity" rel="nofollow">{{ i18n "share-twitter" }}</a>
    <a class="shareDiaspora" href="https://joindiaspora.com/people/9c3d1a454919ef06" rel="nofollow">{{ i18n "share-diaspora" }}</a>
    <a class="shareMastodon" href="https://mastodon.technology/@kde" rel="me nofollow">{{ i18n "share-mastodon" }}</a>
    <a class="shareLinkedIn" href="https://www.linkedin.com/company/29561/" rel="nofollow">{{ i18n "share-reddit" }}</a>
    <a class="shareReddit" href="https://www.reddit.com/r/kde/" rel="nofollow">{{ i18n "share-reddit" }}</a>
    <a class="shareYouTube" href="https://www.youtube.com/channel/UCF3I1gf7GcbmAb0mR6vxkZQ" rel="nofollow">{{ i18n "share-youtube" }}</a>
    <a class="sharePeerTube" href="https://peertube.mastodon.host/accounts/kde/videos" rel="nofollow">{{ i18n "share-peertube" }}</a>
    <a class="shareVK" href="https://vk.com/kde_ru" rel="nofollow">{{ i18n "share-vk" }}</a>
    <a class="shareInstagram" href="https://www.instagram.com/kdecommunity/" rel="nofollow">{{ i18n "share-instagram" }}</a>
  </p>
  <p align="justify">
  {{ i18n "discuss-forum" }}
  {{ i18n "report-bug-plasma" | markdownify }}
  {{ i18n "feedback-appreciated" }}
  {{ i18n "supporting-KDE" }}
  </p>
</section>

<h2>Supporting KDE</h2>

<p align="justify">{{ i18n "whatiskde" | markdownify }}</p>

<h2>{{ i18n "about-kde" }}</h2>
<p align="justify">{{ i18n "about-kde-text" }}</p>

<hr />

<p align="justify">
  <font size="2">
    <em>{{ i18n "trademark-notices" }}</em><br/> <br/>
    {{ i18n "kde-trademark" | safeHTML }} <br/>
    {{ i18n "linux-trademark" | html }} {{ i18n "unix-trademark" }}<br/>
    {{ i18n "other-trademarks" }}
  </font>
</p>
<hr />
<h4>{{ i18n "press-contacts" }}</h4>

<p>
{{ i18n "info-email" }} <br /> <a href="mailto:press@kde.org">press@kde.org</a>
</p>
