<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">MD5&nbsp;Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/arts-1.2.3.tar.bz2">arts-1.2.3</a></td>
   <td align="right">948kB</td>
   <td><tt>fca8a9ec7538c4fe8e4c79767bb2a7e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdeaccessibility-3.2.3.tar.bz2">kdeaccessibility-3.2.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>18a949124ff7f5ba8c7e7d107d8ec794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdeaddons-3.2.3.tar.bz2">kdeaddons-3.2.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5997388ff74ed1c95dd07c778d66fdae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdeadmin-3.2.3.tar.bz2">kdeadmin-3.2.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>52cac3afb5ae527f7d65cdd27937ecf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdeartwork-3.2.3.tar.bz2">kdeartwork-3.2.3</a></td>
   <td align="right">16MB</td>
   <td><tt>86bc54962ffee206fda15acfd228d52c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdebase-3.2.3.tar.bz2">kdebase-3.2.3</a></td>
   <td align="right">17MB</td>
   <td><tt>fd05a338d155610856b06988d8dff117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdebindings-3.2.3.tar.bz2">kdebindings-3.2.3</a></td>
   <td align="right">11MB</td>
   <td><tt>fca460d7331208ae2fd89f44350a0c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdeedu-3.2.3.tar.bz2">kdeedu-3.2.3</a></td>
   <td align="right">21MB</td>
   <td><tt>1c41b731f26269fdb39f2c097a95dd9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdegames-3.2.3.tar.bz2">kdegames-3.2.3</a></td>
   <td align="right">9.1MB</td>
   <td><tt>801b257188acca5e525a997bd03f1234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdegraphics-3.2.3.tar.bz2">kdegraphics-3.2.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>af7092f2afc5a8565eb5017ecee6b67e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kde-i18n-3.2.3.tar.bz2">kde-i18n-3.2.3</a></td>
   <td align="right">148MB</td>
   <td><tt>7a2ff8e848b6347e41e450f5aaaf75a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdelibs-3.2.3.tar.bz2">kdelibs-3.2.3</a></td>
   <td align="right">12MB</td>
   <td><tt>d9d1c4bd2016a96f156b491ca908dc16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdemultimedia-3.2.3.tar.bz2">kdemultimedia-3.2.3</a></td>
   <td align="right">5.1MB</td>
   <td><tt>f49a1cf9c5d405aed791808b4bbf035d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdenetwork-3.2.3.tar.bz2">kdenetwork-3.2.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>a58915e964d8f6ec87c76acaab9f8929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdepim-3.2.3.tar.bz2">kdepim-3.2.3</a></td>
   <td align="right">7.8MB</td>
   <td><tt>06d3e5d1ee0cd7f2a55bd26d05ee4987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdesdk-3.2.3.tar.bz2">kdesdk-3.2.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>82808f2780ae970fb38d44512ff9e2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdetoys-3.2.3.tar.bz2">kdetoys-3.2.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>22bb5193eaaea38a7eb9a16d935af20f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdeutils-3.2.3.tar.bz2">kdeutils-3.2.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>3a98f8a0a6f4582e03d4503708cb218a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/kdevelop-3.0.4.tar.bz2">kdevelop-3.0.4</a></td>
   <td align="right">6.1MB</td>
   <td><tt>c4a84b34927e6f1c7fb2bfb9a74b5b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2.3/src/quanta-3.2.3.tar.bz2">quanta-3.2.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>7a0718b0fe1b4e833f0a9fff9987368a</tt></td>
</tr>

</table>
