<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">MD5&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdeaccessibility-4.0.5.tar.bz2">kdeaccessibility-4.0.5</a></td><td align="right">6,1MB</td><td><tt>7af5f13f9c97567b3f8e05791fd6024a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdeadmin-4.0.5.tar.bz2">kdeadmin-4.0.5</a></td><td align="right">1,3MB</td><td><tt>f54c6a8892007103b76676e7d3bc0a21</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdeartwork-4.0.5.tar.bz2">kdeartwork-4.0.5</a></td><td align="right">40MB</td><td><tt>fe4abf97d62692c4f3b390655eeaf048</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdebase-4.0.5.tar.bz2">kdebase-4.0.5</a></td><td align="right">4,2MB</td><td><tt>b3ba290cb675fbc4522704a39a503fe5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdebase-runtime-4.0.5.tar.bz2">kdebase-runtime-4.0.5</a></td><td align="right">47MB</td><td><tt>6af10ce1df37ae231387581bd3941071</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdebase-workspace-4.0.5.tar.bz2">kdebase-workspace-4.0.5</a></td><td align="right">29MB</td><td><tt>02112644bd5c011b10c5ca70d03a18ae</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdebindings-4.0.5.tar.bz2">kdebindings-4.0.5</a></td><td align="right">3,7MB</td><td><tt>21126044fbe6d9357ce3c8c07b659c3a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdeedu-4.0.5.tar.bz2">kdeedu-4.0.5</a></td><td align="right">41MB</td><td><tt>268a8aaee1668b7cf6d56fbe5f7d9f17</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdegames-4.0.5.tar.bz2">kdegames-4.0.5</a></td><td align="right">23MB</td><td><tt>4f598e85b2f5f546a1d85b4575f3a79e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdegraphics-4.0.5.tar.bz2">kdegraphics-4.0.5</a></td><td align="right">2,3MB</td><td><tt>ffc06d78045077c930606840c080d041</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdelibs-4.0.5.tar.bz2">kdelibs-4.0.5</a></td><td align="right">8,8MB</td><td><tt>4922865df8df46bef0472528e88564a5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdemultimedia-4.0.5.tar.bz2">kdemultimedia-4.0.5</a></td><td align="right">1,1MB</td><td><tt>bc0ce64fe8cae60883a55e017b019f1a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdenetwork-4.0.5.tar.bz2">kdenetwork-4.0.5</a></td><td align="right">6,1MB</td><td><tt>76360c09b4d90480b5962f0c8c38b7c9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdepimlibs-4.0.5.tar.bz2">kdepimlibs-4.0.5</a></td><td align="right">1,8MB</td><td><tt>30b43558e9f8eebb249696b0308ad341</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdesdk-4.0.5.tar.bz2">kdesdk-4.0.5</a></td><td align="right">4,1MB</td><td><tt>c10891e4a5767292c9fb6616d851ef70</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdetoys-4.0.5.tar.bz2">kdetoys-4.0.5</a></td><td align="right">2,2MB</td><td><tt>94a7615b08f9f4f96bf0fc2de50a3cd1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdeutils-4.0.5.tar.bz2">kdeutils-4.0.5</a></td><td align="right">2,3MB</td><td><tt>3d8625a4d4394c9599dbb4c7bffa309f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.5/src/kdewebdev-4.0.5.tar.bz2">kdewebdev-4.0.5</a></td><td align="right">1,2MB</td><td><tt>bf68b106d45a50824faa5210a8d52bed</tt></td></tr>
</table>
