<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/bluedevil-5.12.9.tar.xz">bluedevil-5.12.9</a></td>
   <td align="right">146kB</td>
   <td><tt>effea4852f23ddcd6c0d3fb89b184b1ccd52eae725dd0e940ed90cdc1fef788e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/breeze-5.12.9.tar.xz">breeze-5.12.9</a></td>
   <td align="right">21MB</td>
   <td><tt>de76f01525d62cef85d1a8b7f5e4d9d92587e976a4f8f5ca36043d3821c7b607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/breeze-grub-5.12.9.tar.xz">breeze-grub-5.12.9</a></td>
   <td align="right">3.0MB</td>
   <td><tt>d68f3913696b98f531546f6859fb7a4ca3869a0bdd7660b4ea1b67abc4a30e97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/breeze-gtk-5.12.9.tar.xz">breeze-gtk-5.12.9</a></td>
   <td align="right">209kB</td>
   <td><tt>a789e57b069e68aacf6918e30774fea5d2d1d95ef80d7701c51433a8bc567a31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/breeze-plymouth-5.12.9.tar.xz">breeze-plymouth-5.12.9</a></td>
   <td align="right">102kB</td>
   <td><tt>a3e31488e4656cc43df307e5e092a4a66711f243146da87800d9501d5d8a8e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/discover-5.12.9.tar.xz">discover-5.12.9</a></td>
   <td align="right">9.7MB</td>
   <td><tt>350af62e8f75e66f764b25044c9ac4c87f06c76d6804957ca59d983ce4273106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/drkonqi-5.12.9.tar.xz">drkonqi-5.12.9</a></td>
   <td align="right">717kB</td>
   <td><tt>e9e43bdf56799d4a8a52bac605b048b6de27e685418f96add6b2ce027b3e104e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kactivitymanagerd-5.12.9.tar.xz">kactivitymanagerd-5.12.9</a></td>
   <td align="right">83kB</td>
   <td><tt>5a4738cc7209bcb4c2f52fb1a7e81201df15380121d09c21579c6c15337f9831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kde-cli-tools-5.12.9.tar.xz">kde-cli-tools-5.12.9</a></td>
   <td align="right">568kB</td>
   <td><tt>0317c86250644ea37e102232893bbaed5efeb1f0bcfe3136dbac4a2b68522a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kdecoration-5.12.9.tar.xz">kdecoration-5.12.9</a></td>
   <td align="right">34kB</td>
   <td><tt>caba844079d1cb3c97adf1ee8472614d43d8cae0d9cb5d9f76d7850b1cf54489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kde-gtk-config-5.12.9.tar.xz">kde-gtk-config-5.12.9</a></td>
   <td align="right">152kB</td>
   <td><tt>5980f947fb640ed3adb7b39e0cebcf46048cc3aa7d06275476006b0a7837654c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kdeplasma-addons-5.12.9.tar.xz">kdeplasma-addons-5.12.9</a></td>
   <td align="right">557kB</td>
   <td><tt>00f19f4ae1919c2b83495aab382afccbe32c1a9616d3cd0c449ba6d2e4dc0dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kgamma5-5.12.9.tar.xz">kgamma5-5.12.9</a></td>
   <td align="right">59kB</td>
   <td><tt>fe01d4a2fdd8eb7203d6ff98e975e8865073507721ea7be5c9e769c0f1510cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/khotkeys-5.12.9.tar.xz">khotkeys-5.12.9</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2b315b15f81aa502c3f50e640d4a3826d10cd761f2bdd3d46cda32fce3e0f67a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kinfocenter-5.12.9.tar.xz">kinfocenter-5.12.9</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c33904f40f87adad974871e44c71a5fea50d6f960b48ab49434685b21d4f0483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kmenuedit-5.12.9.tar.xz">kmenuedit-5.12.9</a></td>
   <td align="right">796kB</td>
   <td><tt>e516cf9ef3df52d31a657845cf0e71f37d5aeccd152d39a03b32ae223e9be79b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kscreen-5.12.9.tar.xz">kscreen-5.12.9</a></td>
   <td align="right">115kB</td>
   <td><tt>2e5d5bda2b8e455062f1e97eced2c5a1a896f661f2f807c2c1e6662e6a8b3b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kscreenlocker-5.12.9.tar.xz">kscreenlocker-5.12.9</a></td>
   <td align="right">117kB</td>
   <td><tt>3a9416c48277d65061d044b490df91fa6f9bd090a57064e4063d48c8229c9c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/ksshaskpass-5.12.9.tar.xz">ksshaskpass-5.12.9</a></td>
   <td align="right">20kB</td>
   <td><tt>0a5152a75ce1a4f6387b93f82fe80ce2f5f38e0238fb9582cd8ecb1dc28566e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/ksysguard-5.12.9.tar.xz">ksysguard-5.12.9</a></td>
   <td align="right">484kB</td>
   <td><tt>9ac822a489fb6ce740fba50a70318869978c4263731c5fb9d2205341f5cdadda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kwallet-pam-5.12.9.tar.xz">kwallet-pam-5.12.9</a></td>
   <td align="right">18kB</td>
   <td><tt>646685e658b836162085883bf4c8a1282e692e3b4f05b5a759592dffef579bd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kwayland-integration-5.12.9.tar.xz">kwayland-integration-5.12.9</a></td>
   <td align="right">18kB</td>
   <td><tt>38877a6a368dbb5af8940fc041b9a82b88c99652f3d7d3ced8674241def6beca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kwin-5.12.9.1.tar.xz">kwin-5.12.9.1</a></td>
   <td align="right">6.2MB</td>
   <td><tt>b4dd8e54c99c1c8b6e68a3624724d8a4ea0a4f23ab7a6d2f767188efcfc88929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/kwrited-5.12.9.tar.xz">kwrited-5.12.9</a></td>
   <td align="right">19kB</td>
   <td><tt>b309df217094be96e04e43725b82c0593c4080c22d80496482fd3a9df4f0b4ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/libkscreen-5.12.9.tar.xz">libkscreen-5.12.9</a></td>
   <td align="right">92kB</td>
   <td><tt>17a4bcdc51e9947aa97bf5cef4704856014221af6ebe1fd729ad3a4f81104442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/libksysguard-5.12.9.tar.xz">libksysguard-5.12.9</a></td>
   <td align="right">556kB</td>
   <td><tt>2b13286f275a3751923f2bdd400a2b8d6f2b31d2a85f042ad8449fa719cea887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/milou-5.12.9.tar.xz">milou-5.12.9</a></td>
   <td align="right">56kB</td>
   <td><tt>66db03c0b516225b3b6a86e169949fa827fe2c6472dff46d1549349353017c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/oxygen-5.12.9.tar.xz">oxygen-5.12.9</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ab4d071021f30375536c7517385dbcd09f3bfa7fa74f515f1b564c9dc1a8ac13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-desktop-5.12.9.1.tar.xz">plasma-desktop-5.12.9.1</a></td>
   <td align="right">8.7MB</td>
   <td><tt>b79a04b1d39e7d12832520e9676265fd9beac626a5d41dd51481da51110f65d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-integration-5.12.9.tar.xz">plasma-integration-5.12.9</a></td>
   <td align="right">52kB</td>
   <td><tt>cc6629425215586110420333f574af349f181e2ccd2eb612438b08f474a3df58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-nm-5.12.9.tar.xz">plasma-nm-5.12.9</a></td>
   <td align="right">701kB</td>
   <td><tt>f469f94db4871deb8cafcc08168b765259d6efa43a03ce8b94c6c990469c57cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-pa-5.12.9.tar.xz">plasma-pa-5.12.9</a></td>
   <td align="right">87kB</td>
   <td><tt>8ff5729b0485a1ebcef92f32c280759c1d2e4513abca7abe4fd482b0e20a457c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-sdk-5.12.9.tar.xz">plasma-sdk-5.12.9</a></td>
   <td align="right">239kB</td>
   <td><tt>e591f8739665ded0c23c863db36ef4db7839a2d7d38c0d317e0aac85cc5c7590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-tests-5.12.9.tar.xz">plasma-tests-5.12.9</a></td>
   <td align="right">1kB</td>
   <td><tt>47f6a301994503c428d4161fcc848ba49fd4c0ed4a96696af77aec27b4f67671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-vault-5.12.9.tar.xz">plasma-vault-5.12.9</a></td>
   <td align="right">105kB</td>
   <td><tt>96828a3f4f7b8b5a8634ea87b06905f589ad28f53751db2564729f0ac960ea81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-workspace-5.12.9.tar.xz">plasma-workspace-5.12.9</a></td>
   <td align="right">4.3MB</td>
   <td><tt>33ef595ac042784e3fefd3c6c7e9491f93ff272026dd5029a4debbbd599d845c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plasma-workspace-wallpapers-5.12.9.tar.xz">plasma-workspace-wallpapers-5.12.9</a></td>
   <td align="right">43MB</td>
   <td><tt>fe71f3fbd1796b9d8957d298554c2405daaa41db5ebd3cdbe9f2e0d679a500e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/plymouth-kcm-5.12.9.tar.xz">plymouth-kcm-5.12.9</a></td>
   <td align="right">38kB</td>
   <td><tt>af06aa1a126900b1ce8a197d16383d947dabc6ee6e726ca7f408651dbe4f50df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/polkit-kde-agent-1-5.12.9.tar.xz">polkit-kde-agent-1-5.12.9</a></td>
   <td align="right">41kB</td>
   <td><tt>b0964a043ab874298ad988e4ffccb03b7e45ca36ec213f873eb0846cf3e363c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/powerdevil-5.12.9.tar.xz">powerdevil-5.12.9</a></td>
   <td align="right">525kB</td>
   <td><tt>c6bde71546e532930369c3a90e7b9bebfc78b145533229c269e7fd1c9d600c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/sddm-kcm-5.12.9.tar.xz">sddm-kcm-5.12.9</a></td>
   <td align="right">59kB</td>
   <td><tt>61caf05a9418fade665d07ddf60e92e6fec2c6de3f592266a0ec1f6ad9088296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/systemsettings-5.12.9.tar.xz">systemsettings-5.12.9</a></td>
   <td align="right">175kB</td>
   <td><tt>dae3557c1d4e644f214271644b4595b469223266f19f8afe936b3f56d5908a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/user-manager-5.12.9.tar.xz">user-manager-5.12.9</a></td>
   <td align="right">534kB</td>
   <td><tt>9f3ccd71c394ed717812f585832bb05de38fb6c4b33c457c47e9bcfcb48b4e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.9/xdg-desktop-portal-kde-5.12.9.tar.xz">xdg-desktop-portal-kde-5.12.9</a></td>
   <td align="right">30kB</td>
   <td><tt>8b2296f57df1f84b5c52f49d07a55687751c3348526ca1cd0736d3dbc38b46c9</tt></td>
</tr>

</table>
