{{ define "main" }}
<main>
  <div class="text-center">
    <h1>{{ .Title }}</h1>
    <h5 class="container">{{ .Params.subtitle }}</h5>
  </div>
  {{ range .Params.distributions }}
  <section class="text-center {{ with .color }}{{ . }}{{ end }}">
    <h2>{{ .name }}</h2>
    <img src="{{ .logo }}" alt="Logo Kubuntu" class="distribution-logo">
    <div class="laptop-with-overlay d-block mt-3 mx-auto" style="max-width: 800px">
      <img class="laptop img-fluid mt-3" src="/content/plasma-desktop/laptop.png" alt="empty laptop with an overlay">
      <div class="laptop-overlay">
        <img class="img-fluid mt-3" src="{{ .image }}" loading="lazy" width="800" height="450" />
      </div>
    </div>
    <div style="max-width: 800px" class="mx-auto h5 mt-4">{{ .description | markdownify }}</div>
    <a href="{{ .link }}" class="mt-3 button learn-more">{{ i18n "learn-more" }}</a>
  </section>
  {{ end }}
  <div class="container mt-3">
    {{ .Content }}
  </div>
</main>
{{ end }}
