{{ define "main" }}
<div class="container mb-4" role="main">
  <h1>{{ .Title }}</h1>
  {{ with .Content }}
  <div class="well">
    {{.}}
  </div>
  {{ end }} 

  <div class="posts-list">
    {{ range (.Paginate ( where .RegularPagesRecursive "Params.hidden" "ne" "true") 10).Pages }}
    <article class="post-preview">
      <a href="{{ .Permalink }}">
        <h2 class="post-title">{{ .Title | safeHTML}}</h2>
        {{ if .Params.subtitle }}
          <h3 class="post-subtitle">
            {{ .Params.subtitle }}
          </h3>
        {{ end }}
      </a>
      {{ if .Date }}
      <small>
        {{ partial "i18n_date.html" . }}
      </small>
      {{ end }}


      <div class="post-entry mt-3">
        {{ if .Description }}
          {{ .Description }}
          <br />
          <a href="{{ .Permalink }}" class="button learn-more mt-3">{{i18n "learn-more" }}</a>
        {{ else }}
          {{ .Summary }}
          {{ if .Truncated }}
            <br />
            <a href="{{ .Permalink }}" class="button learn-more mt-3">{{i18n "learn-more" }}</a>
          {{ end }}
        {{ end }}
      </div>

      {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/"
          >{{ . }}</a
        >&nbsp; {{ end }}
      </div>
      {{ end }}
    </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
