{{ define "main" }}
  
<main class="releaseAnnouncment">
  <div class="text-center py-5 header-plasma20" style="background-image: url('/announcements/plasma/5/5.20.90/mk.jpg'); background-size: cover;">
    <div class="container">
      <h1 class="h2">{{ .Params.title }}</h1>
      <h2 class="h1">{{ .Params.subtitle }}</h2>
      <p class="h5 mx-auto text-center" style="max-width: 600px">{{ .Params.desc }}</p>
      <p class="text-center">{{ partial "i18n_date.html" . }}</p>
    </div>
    <div class="laptop-with-overlay d-block my-3 mx-auto w-100" style="max-width: 1000px">
      <img class="laptop img-fluid mt-3" src="/content/plasma-desktop/laptop.png" alt="empty laptop with an overlay">
      <div class="laptop-overlay">
        <img class="img-fluid mt-3" src="/announcements/plasma/5/5.20.90/1.jpg" alt="Plasma" />
      </div>
    </div>
  </div>
  {{ .Content }}
  {{ partial "announcements/plasma-footer.html" . }}
</main>
{{ end }}
