<div class="py-5 container-fluid">
  <div class="container text-center">
    <h2>{{ .Get "title" }}</h2>
  </div>
  <div class="row">
    {{ range $.Page.Params.features }}
      <div class="d-flex flex-column col-6 col-sm-3 text-center mb-5 mt-5">
        <img src="{{ .logo }}" alt="" class="logo mx-auto" />
        <h3 class="mt-1">{{ .title }}</h3>
        {{ .content }}
      </div>
    {{ end }}
  </div>
</div>
